
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden; /* trava scroll */
}
body{
  background-image: url("../imagens/fundo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#convite, #video{
  width: min(500px, 90vw);
  height: auto;
  border-radius: 16px;
  display: block;
}
#video{
  display: none;
}

/*CELULAR*/
@media (max-width: 768px){
body{
    background: none; 
}
#convite, #video{
    width: 100vw;
    height: 100dvh;
    object-fit: cover;
    border-radius: 0;
  }
}
#fade{
  position: fixed;
  inset: 0;
  background: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
}
